/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /*---------global styles-------------*/
  
 body {
    background-color: #cfedcb;
    font-family: 'Open Sans', sans-serif;
  }
  header.primary{
    background-color: #edebc5;
  }
  p {
color: #6E7175

  }
  h2 {
    color: rgb(78, 154, 220)
  }
