* {
    margin: 0;
    padding: 0;
} 
/*
.bg {
    min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    position:absolute;
}
*/
.satisfaction{
  animation: 6s anim-lineUp ease-out;
  animation-fill-mode: forwards;
  position: absolute;
  top: 300px;
  left: 250px;
  color: white;
  font-family: 'Poppins';
  z-index: 1;
}


  h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  /* lineup class and keyframes */
.lineUp {
  animation: 2s anim-lineUp ease-out;
  animation-fill-mode: forwards;
  position: absolute;
  top: 220px;
  left: 250px;
  color: white;
  font-family: 'Poppins';
  z-index: 1;
  position: absolute;
}

.btn {
  border: 2px solid white;
  background-color: 00FFFFFF;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 400px;
  left: 300px;
}

/* Animation */
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: red;
}

.bg-img {
  /* The image used */
  background: #000 center/cover url(../img/spacex-hero.jpg) no-repeat;
  min-height: 850px;
  
  
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
  margin: auto;
}

/* Position the navbar container inside the image */
.container {
 width: auto;
 margin: auto;
  width: 20%;
  
}

/* The navbar */
.topnav {
  overflow: hidden;
  margin: auto;
  width: 350%;
  
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  font-family: 'Poppins';
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  text-decoration: underline;
  
}

/* Media Queries */

@media only screen and (max-width: 1403px) {
  .lineUp {
    animation: 2s anim-lineUp ease-out;
    animation-fill-mode: forwards;
    position: absolute;
    top: 220px;
    left: 50px;
    color: white;
    font-family: 'Poppins';
  }

  .satisfaction{
    animation: 6s anim-lineUp ease-out;
    animation-fill-mode: forwards;
    position: absolute;
    top: 300px;
    left: 50px;
    color: white;
    font-family: 'Poppins';
  }
}

@media only screen and (max-width: 1000px) {
  .lineUp {
    animation: 2s anim-lineUp ease-out;
    animation-fill-mode: forwards;
    position: absolute;
    top: 220px;
    left: 50px;
    color: white;
    font-family: 'Poppins';
    text-shadow: 2px 2px 8px #000000;
  }

  .satisfaction{
    animation: 6s anim-lineUp ease-out;
    animation-fill-mode: forwards;
    position: absolute;
    top: 300px;
    left: 50px;
    color: white;
    font-family: 'Poppins';
    text-shadow: 2px 2px 8px #000000;
  }
}
